@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Radio Canada", monospace, sans-serif;
  background-color: #f7f0f0;
  padding-top: 32px;
}

div.backgroundDiag {
  background-color: #9a48d0;
  position: absolute;
  height: 500px;
  width: calc(100vw + 24px);
  top: -150px;
  left: -24px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.75);
  z-index: -1;
  transform: skewY(-10deg);
}

/* Header */
.about {
  display: flex;
  justify-content: center;
}

div.aboutText {
  background-color: #f7f0f0;
  position: relative;
  max-width: 700px;
  min-width: 400px;
  height: 300px;
  padding: 24px;
  align-self: center;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.75);
}

div.aboutText h2 {
  font-size: 32px;
  margin-bottom: 18px;
}

div.aboutText p {
  color: #484349;
  font-size: 18px;
}

div.icons {
  position: absolute;
  bottom: 24px;
  right: 24px;
}

img.aboutIcon {
  width: 50px;
  height: auto;
}

button.aboutIcon {
  background-color: #0000;
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

div.image {
  position: relative;
  z-index: 1;
}

img.aboutImg {
  max-width: 400px;
  min-height: 400px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.75);
}

h1.name {
  font-size: 85px;
  font-family: Galada, monospace, sans-serif;
  color: #f7f0f0;
  position: absolute;
  bottom: 0px;
  right: 24px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
}

/* Projects */
main {
  margin: 64px 0;
}

main h2 {
  margin-left: 32px;
}

div.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

div.project {
  margin: 32px 64px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
}

div.projectSS {
  background-color: #28afb0;
  min-height: 200px;
  padding: 8px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

div.projectDesc {
  position: relative;
  min-height: 100px;
  padding: 8px;
}

div.projectDesc p {
  color: #484349;
  margin-top: 4px;
}

div.projectButtons {
  position: absolute;
  top: 4px;
  right: 8px;
}

button.projectIcon {
  background-color: #0000;
  border: none;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #9a48d0;
  color: #f7f0f0;
  padding: 48px 72px;
  display: flex;
  gap: 150px;
}

footer div.footerText {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

div.footerText h2 {
  font-size: 32px;
}

div.footerText p {
  font-size: 24px;
}

div.footerText p.desc {
  font-size: 20px;
}

div.contactInfo p {
  display: inline;
}

div.footerText img {
  filter: brightness(0) saturate(100%) invert(97%) sepia(97%) saturate(197%)
    hue-rotate(335deg) brightness(115%) contrast(94%);
  height: 32px;
  position: relative;
  top: 7px;
}

div.footerIcons button {
  filter: brightness(0) saturate(100%) invert(97%) sepia(97%) saturate(197%)
    hue-rotate(335deg) brightness(115%) contrast(94%);
  float: right;
}

@media (min-width: 801px) and (max-width: 1200px) {
  header {
    margin: 24px;
  }

  div.aboutText {
    min-width: 300px;
    padding-left: 200px;
  }

  div.image {
    position: absolute;
    left: calc(50% - 375px);
    top: 90px;
  }

  div.image,
  div.image img {
    min-height: 200px;
    max-width: 200px;
  }

  div.image h1 {
    font-size: 40px;
  }

  footer div.footerText {
    display: block;
  }

  div.footerText div {
    margin-top: 24px;
  }

  div.footerText p {
    font-size: 18px;
  }

  img.footerImg {
    display: none;
  }
}

@media (max-width: 800px) {
  header {
    margin: 24px;
  }

  div.image {
    display: flex;
    justify-content: center;
  }

  div.image,
  div.image img {
    max-width: 350px;
    width: 100%;
    height: auto;
  }

  div.image h1 {
    font-size: 48px;
  }
  
  div.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  div.about .aboutText {
    min-width: 100px;
  }

  div.aboutText p {
    font-size: calc(2vw + 5px);
  }

  div.projects {
    padding: 0px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  div.project {
    margin: 10px 10px;
  }

  footer img {
    display: none;
  }

  footer {
    display: block;
  }

  .footerText div p,
  .footerText .desc  {
    font-size: 12px;
  }
}
